## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# random.sample(population, k)

sample_list_1 = random.sample(range(101),80)
print(sample_list_1)

[82, 61, 50, 13, 91, 35, 85, 33, 80, 45, 51, 19, 73, 68, 62, 53, 1, 96, 88, 65, 86, 43, 87, 6, 11, 97, 100, 37, 57, 69, 2, 29, 27, 38, 81, 55, 26, 31, 74, 94, 40, 60, 32, 76, 7, 63, 72, 12, 64, 83, 14, 84, 67, 52, 41, 79, 77, 9, 22, 99, 36, 92, 30, 70, 49, 89, 10, 4, 25, 39, 0, 21, 58, 8, 46, 28, 59, 16, 93, 3]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1 = set(sample_list_1)
len(set1)
print("yes the length of the set is still", len(set1))

yes the length of the set is still 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [8]:
# Your code here
sample_list_2 = []

for i in range(80):
    x = random.randrange(101)
    sample_list_2.append(x)

print(len(sample_list_2))
print(sample_list_2)

80
[82, 6, 35, 42, 36, 58, 59, 50, 44, 41, 95, 47, 4, 4, 50, 37, 46, 24, 44, 65, 79, 90, 4, 98, 44, 62, 94, 73, 62, 11, 83, 38, 37, 47, 48, 1, 55, 11, 67, 72, 100, 0, 85, 95, 89, 41, 59, 24, 97, 81, 32, 88, 61, 0, 31, 54, 46, 30, 74, 63, 75, 40, 83, 53, 58, 27, 5, 26, 5, 54, 47, 16, 53, 13, 20, 88, 90, 47, 7, 2]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here
set2 = set(sample_list_2)
len(set2)
print("no, the length of the set is no longer of 80 but instead of", len(set2))

print("of course, sets can only have unique values, so all duplicate are eliminated. It's only logical as Spock would say")

no, the length of the set is no longer of 80 but instead of 56
of course, sets can only have unique values, so all duplicate are eliminated. It's only logical as Spock would say

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [11]:
set3 = set()

print(type(set3))

for i in set1:
    if i not in set2:
        set3.add(i)
print(set3)

<class 'set'>
{3, 8, 9, 10, 12, 14, 19, 21, 22, 25, 28, 29, 33, 39, 43, 45, 49, 51, 52, 57, 60, 64, 68, 69, 70, 76, 77, 80, 84, 86, 87, 91, 92, 93, 96, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [12]:
set4 = set()

print(type(set4))

for i in set2:
    if i not in set1:
        set4.add(i)
print(set4)

<class 'set'>
{98, 5, 42, 75, 44, 47, 48, 20, 54, 24, 90, 95}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
#Method 1, using set.intersection() method
set55 = set.intersection(set1,set2)
print(set55)

{0, 1, 2, 4, 6, 7, 11, 13, 16, 26, 27, 30, 31, 32, 35, 36, 37, 38, 40, 41, 46, 50, 53, 55, 58, 59, 61, 62, 63, 65, 67, 72, 73, 74, 79, 81, 82, 83, 85, 88, 89, 94, 97, 100}

In [16]:
#Method 2, using & sign to set 1 & set 2

set5 = set()

set5 = set1 & set2
print(set5)

{0, 1, 2, 4, 6, 7, 11, 13, 16, 26, 27, 30, 31, 32, 35, 36, 37, 38, 40, 41, 46, 50, 53, 55, 58, 59, 61, 62, 63, 65, 67, 72, 73, 74, 79, 81, 82, 83, 85, 88, 89, 94, 97, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [17]:
# Your code here
print(len(set1)) # set 1 created 80 unique values thanks to random.sample() method which creates only unique numbers 
print(len(set2)) #set 2 created sample_list2 of 80 potentially duplicated values with random.randrange(). 
                 #Transforming sample_list2 to a set eliminated duplicated values -> remain 56 unique values
print(len(set3)) #set3 = set1 - set2 ie. values in set1 NOT set2
print(len(set4)) #set4 = set2 - set1 ie. values in set2 NOT set1
print(len(set5)) #set5 = values shared by both sets 
                 #-> set5 (44 shared values) + set4(12 unique set2 values) = set2's 56 values
                 #-> set5 (44 shared values) + set3(36 unique set1 values) = set1's 80 values

80
56
36
12
44

#### Create an empty set called `set6`.

In [18]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [21]:
# Your code here
set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 19, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 43, 45, 46, 49, 50, 51, 52, 53, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 72, 73, 74, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 99, 100}

#### Check if `set1` and `set6` are equal.

In [22]:
# set6 = combining set3 (unique set1 values) & set5 (shared values btw set1 & set2) will recreate set1
if set1 == set6:
    print("True ! yep, totally equal")
else:
    print("False ! not quite there")

True ! yep, totally equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [23]:
print(set2.issubset(set1))
print("no, set1 does not contain set 2")

print(set3.issubset(set1))
print("yes, set1 does contain set 3")

False
no, set1 does not contain set 2
True
yes, set1 does contain set 3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [25]:
# Your code here
set_union_3_4_5 = set()
set_union_3_4_5.union(set3,set4,set5)

set_union_1_2 = set()
set_union_1_2.union(set1,set2)

if set_union_3_4_5 == set_union_1_2:
    print("True ! yep, totally equal")
else:
    print("False ! not quite there")

True ! yep, totally equal

#### Using the `pop` method, remove the first element from `set1`.

In [26]:
# there is no way to remove the "first element" from set1 !
# sets are unordered data structure, so set.pop() removes a random value from the set
# but removing the first element from the list is meaningless
# That being said, it is possible to make the set1 a list -> remove the first element of the list -> transforming the list to a set again

TypeError: 'set' object is not subscriptable

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [28]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)

print(set1)

{0, 2, 3, 4, 6, 7, 8, 10, 12, 13, 14, 16, 22, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 38, 40, 43, 45, 46, 50, 52, 53, 55, 57, 58, 60, 62, 63, 64, 65, 67, 68, 70, 72, 73, 74, 76, 77, 80, 82, 83, 84, 85, 86, 87, 88, 92, 93, 94, 96, 97, 100}